.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.client img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.bio {
    color: gray;
    font-size: 1.2rem;
    width: 70%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.name{
    text-transform:capitalize;
    margin-bottom: 10px;
}

.position{
    font-size: 1rem;
    color: #8c8c8c;
}

@media screen and (max-width: 480px) {
    .client{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 80px;
    }

    .client img{
        width: 100px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 40px;
    }

    .bio {
        font-size: 1.2rem;
        width: 80%;
        margin-bottom: 30px;
    }
}
    
